@import 'reset';

@mixin brief {
	margin: 20px;
	padding: 20px;
	float: left;
	width: $briefWidth;
	background-color: $briefBgColor;
	color: $briefContentColor;
}

@mixin img ($flo, $pad) {
	float: $flo;
	padding: $pad;
	border: 2px solid $hColor;
}

@mixin tableProp {
	caption {
		color: $captionColor;
	}
	th {
		background-color: $thColor;
	}
	td {
		background-color: $tdColor;
		border-bottom: 1px solid $thColor;
	}
	a {
		color: $table-a-color;
	}
}

@mixin form {
	width: 100%;
	padding: 10px;
}

body {
	background-color: $bodyBackgroundColor;
	color: $contentTextColor;

	#content {
		width: 70%;
		height: 100%;
		margin: 10px auto;
		background-color: $contentBackground;

		h1 {
			padding: 20px;
			text-align: center;
			text-transform: $textTransform;
			font-size: 25px;
			font-weight: bold;
			color: $hColor;
		}

		p {
			margin: 0 10px;
			padding: 10px;
			.img-left {
				@include img (left, 2px);
				margin: 0 15px 10px 0;
				width: 46%;
			}
		}

		h2 {
			margin: 0 10px;
			padding: 10px 10px;
			font-size: 20px;
			font-weight: bold;
			color: $hColor;
		}

		.brief {
			@include brief;
			margin-top: 10px;
			margin-bottom: 40px;
			font-size: 15px;
		}

		.img-right {
			@include img (right, 2px);
			margin: 0 15px 0 15px;
		}

		a {
			margin: 0 20px;
			color: #3D70A1;
		}

		.img-left {
			@include img (left, 2px);
			margin: 0 15px;
		}

		table {
			@include tableProp;
			margin: 10px;
			caption {
				text-align: right;
			}
			tr {
				th {
					padding: 10px;
					background-color: $thColor;
					text-align: left;
				}
			}
			tr {
				td {
					margin-left: 20px;
					padding: 10px;
					background-color: $tdColor;
				}
			}
		}

		div {
			color: $tablePlaceholderColor;
			.myForm {
				margin: 20px 10px;
			}
			.userName {
				padding: 10px 0;
				display: inline-block;
				input {
					width: 420px;
				}
			}
			.email {
				padding: 10px 0;
				display: block;
				input {
					width: 850px;
				}
			}
			.rate {
				padding: 10px 0;
				display: block;
				input {
					width: 850px;
				}
				.comment {}
			}
		}
		.btn {
			margin: 20px 0;
			width: 230px;
			padding: 10px 30px;
			background-color: $contentBackground;
			color: $table-a-color;
			font-size: 20px;
			border: 1px solid $table-a-color;
		}
	}
}
