$bodyBackgroundColor: #E0F6FD;

$contentBackground: #3B3B3B;
$contentTextColor: #FFFFFF;

$hColor: #FCCD10;

// Brief properties
$briefWidth: 90%;
$briefBgColor: #FFF178;
$briefContentColor: #000000;

// Table properties
$captionColor:#000000;
$thColor: #94A34E;
$tdColor: #677D01;

$tablePlaceholderColor: #FCCD10;
$table-a-color: #FCCD10;



$textTransform: uppercase;
