$bodyBackgroundColor: #DCBB9A;

$contentBackground: #fff;
$contentTextColor: #000000;

$hColor: #893C00;

$briefWidth: 380px;
$briefBgColor: #FADCBA;
$briefContentColor: #000000;

$captionColor:#000000;
$thColor: #E0E0E0;
$tdColor: #FFFFFF;

$tablePlaceholderColor: #757575;
$table-a-color: #3D70A1;

$textTransform: none;
